.card__section {
  margin-top: 20px;
}
.card__container {
  display: flex;
  justify-content: center;
}
.card__name {
  text-align: center;

  max-width: 200px;

  border-radius: 4px;
  padding: 2px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.card__image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.card__image:hover {
  cursor: pointer;
}
.card__items {
  display: flex;

  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
  margin: 34px 0 0 0;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  border: green;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  width: fit-content;
}
.card:hover {
  cursor: pointer;
  opacity: 0.6;
}
.card__trash {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 30px;
  width: 30px;
  margin-top: 18px;
  margin-left: 249px;
  background-image: url(../images/trash-can-1.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
