.clubs {
  width: 100%;
}
.clubs__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 225px;
}
.clubs__title {
  position: absolute;
  top: 120px;
  width: 94px;
  height: 25px;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  color: #000;
}
.clubs__list {
  display: grid;
  justify-self: end;
  grid-gap: 10px;
  padding: 0;
  grid-template-columns: repeat(3, 200px);
}
.add__button-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  left: 315px;
}
.add__button {
  border: none;
  cursor: pointer;
  height: 35px;
  width: 124px;
  background-color: green;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  line-height: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: 350px;
}
.add__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
