.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_title {
  display: flex;
  align-items: center;
}
.header_text {
  color: white;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  font-style: italic;
}
.header__container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.header__name {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  font-style: italic;
}
.header__button {
  color: red;
  border: none;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  font-style: italic;
  padding-left: 60px;
  padding-right: 20px;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  .header__name {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .header__button {
    padding: 0 20px;
  }
  .header_text {
    font-size: 20px;
  }
}
