.home__form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 600px;
  position: relative;
  top: 350px;
  margin-bottom: 550px;
}
.home__form-text-container {
  display: flex;
}
.home__form-text {
  text-align: center;
  line-height: 2;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 100px;
}
.home__input {
  width: 110px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 0px;
  color: green;
  font-style: italic;
}
.home__button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 360px;
}
.recommended__club {
  position: absolute;
  top: 650px;
  margin-top: 50px;
}
.reset__button {
  height: 25px;
  width: 25px;
}
.modal__button-reset {
  position: absolute;
  left: 90px;
  top: 30px;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .home__form-text {
    font-size: 15px;
  }

  .home__input {
    width: 55px;
    height: 16px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
  }

  .recommended__club {
    margin-top: 30px;
  }
  .modal__button-submit {
    width: 100px;
  }

  .modal__button-reset {
    margin-left: 20px;
  }
  .home__form-container {
    position: relative;
  }
}
