.navbar {
  display: flex;
  position: absolute;
  top: 210px;
}
.logo__conatainer {
  height: 250px;
  display: flex;
  justify-content: center;
}
.logo {
  max-height: 100%;
  border-radius: 200px;
}
.navbar__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -60px;
}
.navbar__buttons {
  display: flex;
  justify-content: space-evenly;
  color: green;
  border: none;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  margin-top: 40px;
}
.navbar__bag:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navbar__home:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navbar__home:visited {
  text-decoration: none;
  color: green;
}
.navbar__bag:visited {
  text-decoration: none;
  color: green;
}
.navbar__bag {
  text-decoration: none;
}
.navbar__home {
  text-decoration: none;
}
