.navbar {
  display: flex;
  position: absolute;
  top: 210px;
}
.logo__container {
  height: 250px;
  display: flex;
  justify-content: center;
}
.logo {
  max-height: 200%;
  height: 2000px;
  border-radius: 200px;
  position: relative;
  top: -110px;
  z-index: -1;
}
.navbar__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -60px;
}
.navbar__buttons {
  display: flex;
  justify-content: space-evenly;
  color: green;
  border: none;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  margin-top: 40px;
}
.navbar__bag:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navbar__home:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navbar__home:visited {
  text-decoration: none;
  color: green;
}
.navbar__bag:visited {
  text-decoration: none;
  color: green;
}
.navbar__bag {
  text-decoration: none;
}
.navbar__home {
  text-decoration: none;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 20px; /* Adjust top position as needed */
  }

  .logo__container {
    margin-bottom: 0;
    height: 175px;
  }
  .logo {
    max-height: 150%;
  }

  .navbar__buttons {
    flex-direction: row;
    font-size: 20px;
    margin-top: 0px;
  }

  .navbar__container {
    margin-top: 160px;
  }
}
